h1{
    text-align:center;
    color:rgb(189, 106, 106);
    font-size:65px;
    margin-top:100px;
    margin-left: 300px;
   
}
p{
    color:white; 
    width: 600px; 
    left: 50px; 
    font-size:20px;
    


}
img{
    width:200px; 
    height: 300px;

}
body{
    background-image: url(https://docs.google.com/uc?id=1qpIUA0X_6bHw5Kvt8rm7oUBstGhsYZgt);
    background-size:cover;
    background-attachment:fixed;
    color:white; 
    left: 400px; 
    width: 600px;
    
  
}
a{
    color:white;
}
h3{
    color:white;
    text-align:left;
    font-size:25px;
    
}
li{
    color:white;
    font-size:20px;
    font-size:20px;
}
h2{
    text-align:left;
    font-size:35px;
  
}

ol{
    list-style-position: outside;
    text-align : center;
}

table{
    width: 900px;
    margin-left: 20px;
    border: solid white 1px;
}

#tauana{
    text-align:left;
     width: 1250px;
}